<!-- date:日付 -->
<%
date = 1 - @firstday.wday
count = 0 
%>
<div class="date">
  <%= link_to("<<","/calendar/#{@firstday.year}/#{@firstday.month-1}/#{@day}/back") %>
  <h2 class="month"><%=@firstday.year%><span class="small">年 </span><%=@firstday.month%><span class="small">月</span></h2>
  <%= link_to(">>","/calendar/#{@firstday.year}/#{@firstday.month+1}/#{@day}/go") %>
</div>
<table>
   <tr>
     <!-- 曜日の行を表示 -->
     <% @weekdays.each do |weekday| %>
       <th>
         <%= weekday %>
       </th>
     <% end %>
   </tr>
   <% while date <= @lastday do%>
   <tr>
      <% while count<7 do%>
      <td>
        <% if date > 0 && date <= @lastday %>
          <%= link_to("#{date}","/calendar/#{@firstday.year}/#{@firstday.month}/#{date}/go", :class=>"link") %>
        <% end %>
      </td>
        <%
          date += 1
          count += 1 
        %>
      <% end %>
     <!-- countを0に戻す -->
     <% count = 0 %>
   </tr>
   <% end %>
</table>
 <div class="sidebar">
   <span class="sidebar_title">ボタン</span>
 </div>
<div class="date">
  <%= link_to("<<","/calendar/#{@firstday.year}/#{@firstday.month}/#{@day-1}/back") %>
  <h2><%=@day%><span class="small">日</span></h2>
  <%= link_to(">>","/calendar/#{@firstday.year}/#{@firstday.month}/#{@day+1}/go") %>
</div>
<div class="schedule">
  <div class="background"></div>
  <%for i in 0..23 do%>
    <span class="time"><%=i%></span>
  <%end%>
  <div class="item"></div>
  <div class="item2"></div>
</div>
